@font-face {
  font-family: 'Optimus Princeps';
  src: url('../assets/fonts/OptimusPrinceps.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fortnite';
  src: url('../assets/fonts/Fortnite.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Princess Sofia';
  src: url('../assets/fonts/princess-sofia.regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
