@use './variables.scss' as v;

header {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 65px;
  display: flex;
  background-color: v.$gray-primary;
  color: white;
  font-size: 18px;
  font-family: 'Fortnite';

  .main-header {
    display: flex;
    align-items: center;

    > .logo {
      font-family: 'Princess Sofia';
      padding: 10px 40px 0 40px;
      border-right: 1px solid #333;
    }

    > .nav-links {
      display: flex;
      align-items: center;
      padding: 0px 50px 0 50px;
      gap: 32px;

      > .link:hover {
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 3px;
      }
      img {
        filter: invert(100%);
        height: 32px;
        width: 32px;
      }

      a {
        font-size: 32px;
        color: white;
        text-decoration: none;
        padding: 8px;
      }
    }
  }
}
